<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Player Room</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/playerroom1.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="/js/chat.js" defer></script>
    <script src="/js/playerroom.js" defer></script>
</head>

<body>
    <section>
        <header>
            <h4>TeamJ's Game</h4>
            <nav>
                <ul class="nav_links">
                    <h1><%= user.id %> <%= user.email %></h1>
                    <li><a href="/authentication/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
    </section>

    <section class="container-box">
        <div class="game-info">
            <h3>Current Games</h3>
            <ul>
                <section id="game-list">
                <ul>
                    <% if (userGames && userGames.length > 0) { %>
                        <ul>
                            <% userGames.forEach(game => { %>
                                <li><a href="/games/<%= game %>">Game <%= game %></a></li>
                            <% }); %>
                        </ul>
                    <% } else { %>
                        <p>No available games for the user.</p>
                    <% } %>
                </ul>
                </section>
            </ul>

            <div class="join-game">
                <form id="joinGameForm" method="get">
                    <input type="text" id="joinGameInput" name="Joingame" required>
                    <button id="joinGameButton" type="submit" class="send-btn">Join Game</button>
                </form>
            </div>
            <div class="create-game">
                <form action="/games/create" method="get">
                    <button class="creategame-btm" type="submit">Create Game</button>
                </form>
            </div>
        </div>

        <div class="usr-chat">
            <h3>Chat</h3>
            <div class="user-chat">
                <label for="user">User:</label>
                <input type="text" id="user" name="user" required>
            <div class="chatlog">
                <article>
                    <p class="text-me"><i>text me... </i></p>
                    <p class="text-me-not"><i>text me not.. </i></p>
                </article>
            </div>
            <div class="chat-txt">
                <input type="text" id="chat" name="chat" required>
                <button id="submit" type="submit" class="send-btn">Send</button>
            </div>
        </div>
    </section>
</body>
</html>