<header>
    <h4>Texas Hold'Em</h4>
<nav>
<ul class="nav_links">
    <li><a href="#">Login</a></li>
    <li><a href="#">Texas Hold em</a></li>
    <li><a href="#">Sign up</a></li>
    <li><a href="#"> About Team J </a></li>
</ul>
</nav>
</header>