<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign Up  </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/login.css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <header>
        <h4>Texas Hold'Em</h4>
    <nav>
    <ul class="nav_links">
        <li><a href="/login">Login</a></li>
        <li><a href="#">Texas Hold em</a></li>
        <li><a href="/">Sign up</a></li>
        <li><a href="#"> About Team J </a></li>
    </ul>
    </nav>
    </header>
    
    <div class="wrapper">
        <form  id="submit"  method="post"  action="authentication/signup">
                <h1>Sign Up</h1>
                
              
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <button id="submit"type="submit" class="btn">Sign Up </button>
                
                
                <div class ="reg-link">
                    <p><label class="check-box">
                        <input type="checkbox" id="terms"> 
                        <span><a her="#">Terms & Conditions</a>?</span></p>
                    </div></label>
                <div class ="reg-link"><p> Have account  <a href="login">Sign In </a></p></div>

        </form>
    </div>
    </section>
   
</body>
</html>