
.body{    
 
        min-height: 100vh;
        background-color:#021838 ;
    
}
.container-box{
    display: flex;
    background-color:#AA6600;
    height: 500px;
    width: 60%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

.game-info {
    flex: 1;
    padding: 20px;
    color: white; 
}
.join-game{
    margin-top: 20%;

}
h3{
    margin: 15px;
    text-align: center;
}

li{
list-style: none; 
margin-top: 10px; 
font-size: 14px;

}
.join-game lable {

    margin-top: 15%;
    height: 50px;
    text-align: center;
    
    
}
.join-game input{
    height: 50px;
    width: 40%;
}

.joingame-btm{
    margin-top: 5%;
    height: 50px;
    width: 60%;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10 rgba(0  ,0, 0, .2);
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
}

.user-chat lable {
    margin-top: 15%;
    height: 50px;
    text-align: center;
    
    
}
.user-chat input{
    height: 40px;
    width: 60%;
}

.usr-chat {
    flex: 1;
    padding: 20px;
    color: white; 
}
.chatlog {
    background-color: gray;
    height: 170px;
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: flex-end; 
    padding: 10px; 
}

.chatlog p {
    margin: 5px 0; 
}

.text-me {
    text-align: left;
}

.text-me-not {
    text-align: right;
}


.chat-txt input {
    margin: 15px;
    width: 46%;
    height: 50px;
    font-size: 16px;
    color: rgb(65, 63, 63);
    border: none;
    
}
.chat-txt .send-btn{
    height: 52px;
    width: 100px;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10 rgba(0  ,0, 0, .2);
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
}




.btn{
    width: 80%;
    height: 45px;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10 rgba(0  ,0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    margin-left: 40px;
    letter-spacing: 2px;
    margin-top: 80px;
}
.btn:hover{
    color: white;
}



